.container {
    border: 6px solid black;
    display: flex;
    height: 400px;
    align-items: stretch;
    
    


}
.flex-item{
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    /* text-align: center; */
    text-align: flex-end;
}
.item1{
    background-color: rgb(184, 184, 80);
    align-self: flex-start;
}
.item2 {
    background-color: rgb(231, 45, 45);
    align-self: flex-end;
}
.item3 {
    background-color: rgb(4, 4, 77);
    align-self: center;
}
.item4 {
    background-color: burlywood;
    align-self: stretch;
}
.item5 {
    background-color: orangered;
    align-self: auto;
}
.item6 {
    background-color: rgb(155, 148, 32);
}
.item7 {
    background-color: rgb(126, 22, 64);
}
.item8 {
    background-color: rgb(99, 12, 106);
}
.item9 {
    background-color: rgb(107, 161, 36);
}