.container{
    background-color:white;
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
}

.submitform{
    background-color: grey;
    padding: 10px;
    width: 400px;
}

.flex-input{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

/* input[type="text"],
[type="text"]{
    padding: 10px;
    font-size: 18px;
} */

label {
    flex-basis: 130px;
    margin-top: 10px;
    font-size: 20px;
}

input[type="button"]{
    width: 100%;
    font-size: 20px;
    padding:10px;
    background-color: rgb(7, 7, 62);
    color: white;
    border: none;
    margin: 20px 0;
}

input[type="button"]:hover{
    cursor: pointer;
    background-color: rgb(130, 130, 223);

}