.container{
    height: 400px;
    width: 400px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    height: 80px;
    width: 80px;
    border: 3px solid red;
}