.container {
    border: 6px solid black;
    /* display: inline-flex; */
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-direction:column;
    height: 400px;
    flex-wrap: wrap-reverse; */
    /* flex-flow:row-reverse wrap; */
    /* flex-flow: column-reverse wrap-reverse;
    height: 400px; */
    /* height: 800px;
    flex-wrap: wrap; */
    /* align-content: stretch; */
    /* align-content: flex-start ; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: space-between; */
    /* align-items: space-around; */

    


}
.flex-item{
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
}
.item1{
    background-color: rgb(184, 184, 80);
    flex-basis: 400px;
}
.item2 {
    background-color: rgb(231, 45, 45);
    flex-shrink: 4;
}
.item3 {
    background-color: rgb(4, 4, 77);
    /* order: 1; */
}
.item4 {
    background-color: burlywood;
}
.item5 {
    background-color: orangered;
    /* flex-grow: 1; */
}
.item6 {
    background-color: rgb(155, 148, 32);
    /* flex-grow: 3; */
}
.item7 {
    background-color: rgb(126, 22, 64);
    /* order: 2; */
}
.item8 {
    background-color: rgb(99, 12, 106);
}
.item9 {
    background-color: rgb(107, 161, 36);
    /* order: 1; */
}