.flexcontainer{
    display: flex;
    border: 2px solid green;
    /* height: 45vh; */
    /* width: 800px; */
    gap: 20px;
    flex-direction: row;
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: safe; */
    /* align-items: center; */
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    flex-wrap: wrap; 
    /* flex-wrap: wrap-reverse; */
    /*flex-flow: column wrap; */

}
.flex{
    background-color: grey;
    border: 2px solid black;
    /* padding: 10px; */
    /* margin: 10px; */
    width: 122px;
    height: 122px;
}

.item1{
    order: 3;
    /* flex-grow: 3; */
    /* flex-shrink: 2; */
    /* align-self: center; */
}

.item3{
    order: 4;
    /* flex-grow: 2; */
}
