.container {
    border: 6px solid black;
    display: flex;
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* flex-direction: column; */
    /* height: 800px; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    height: 800px;
    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    align-items: baseline;


}
.flex-item{
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.item1{
    background-color: rgb(184, 184, 80);
    padding-bottom: 3rem;
}
.item2 {
    background-color: rgb(231, 45, 45);
    padding-bottom: 5rem;
}
.item3 {
    background-color: rgb(4, 4, 77);
    padding-bottom: 3rem;
}
.item4 {
    background-color: burlywood;
}
.item5 {
    background-color: orangered;
}
