*{
    margin: 2px;
}

body {
    font-size: 24px;
    color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.flex-header {
    background-color: blue;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flex-main {
    display: flex;
    flex: 1 1 5rem;
}

.flex-nav{
    background-color: orange;
    padding-top: 3rem;
}

.flex-article {
    background-color: green;
    padding: 3rem;
    flex: 3 3 ;
}

.flex-aside {
    background-color: rgb(62, 42, 3);
    padding-top: 3rem;
}

.flex-footer {
    background-color: skyblue;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media all and (max-width: 540px){
    .flex-main {
        flex-direction: column;
    }
}
