nav{
    font-size: 2rem;
    background-color: aqua;

}
nav ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
}

nav ul li {
    cursor: pointer;
    padding: 0.5rem;
    flex: auto;
    text-align: center;
}

nav ul li:hover {
    background-color: gray;
    color: white;
}

@media all and (min-width: 320px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        text-align: center;
    }
}
