.container {
    font-size: 1.5rem;
    display: flex;
}

.item1{
    background-color: firebrick;
    /* float: left;
    width: 30%; */
}

.item2 {
    background-color: forestgreen;
    /* float:right;
    width: 70%; */
}